---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry }: any = Astro.props;
const { Content } = await entry.render();
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<html lang="en">
  <head>
    <BaseHead title={entry.data.title} />
  </head>
  <body class="px-4">
    <div class="mx-auto max-w-[768px]">
      <Header />
      <h2 class="mb-6 md:mt-8">
        {entry.data.title}
      </h2>
      <p class="stext-left mb-6 w-full text-lg">
        Published: {entry.data.date}
      </p>
      <div class="post-content mb-8">
        <Content />
      </div>
    </div>
  </body>
</html>
