---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry }: any = Astro.props;
const { Content } = await entry.render();
---

<html lang="en">
  <head>
    <BaseHead title={entry.data.title} />
  </head>
  <body class="px-4">
    <div class="mx-auto max-w-[768px]">
      <Header />
      <div class="mb-6 w-full text-3xl font-bold md:mt-8 md:text-5xl">
        {entry.data.title}
      </div>
      <div class="mb-6 w-full text-left text-lg">
        Written: {entry.data.date.toLocaleDateString("en-ca")}
      </div>
      <div class="post-content mb-8">
        <Content />
      </div>
    </div>
  </body>
</html>
