---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry }: any = Astro.props;
const { Content } = await entry.render();
---

<script>
  window.onscroll = () => {
    var winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    var height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;

    const element = document.getElementById("progress-bar");
    if (element) element.style.width = scrolled + "%";
  };
</script>

<div class="fixed left-0 top-0 h-1 w-full">
  <div class="h-1 w-0 bg-orange" id="progress-bar"></div>
</div>

<html lang="en">
  <head>
    <BaseHead title={entry.data.title} />
  </head>
  <body class="px-4">
    <div class="mx-auto max-w-[768px]">
      <Header />
      <h2 class="mb-6 md:mt-8">
        {entry.data.title}
      </h2>
      <p class="stext-left mb-6 w-full text-lg">
        Published: {entry.data.date}
      </p>
      <div class="post-content mb-8">
        <Content />
      </div>
    </div>
  </body>
</html>
