@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0;
  }

  body {
    @apply bg-white;
    @apply transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  i,
  li,
  hr {
    @apply text-black;
  }

  h1 {
    @apply text-6xl;
    @apply font-bold;
  }

  h2 {
    @apply text-5xl;
    @apply font-bold;
  }

  h3 {
    @apply text-4xl;
    @apply font-bold;
  }

  h4 {
    @apply text-3xl;
    @apply font-bold;
  }

  h5 {
    @apply text-2xl;
    @apply font-bold;
  }

  h6 {
    @apply text-xl;
    @apply font-bold;
  }

  p {
    @apply text-lg;
  }

  a {
    @apply text-orange;
    @apply underline;
  }

  li {
    @apply mb-4;
    @apply ml-4;
    @apply list-disc;
    @apply text-lg;
  }
}

@layer components {
  .active {
    @apply text-orange !important;
  }

  .nav-link {
    @apply text-black hover:text-orange;
    @apply w-max;
  }

  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    @apply my-6;
  }

  .post-content p {
    @apply mb-4;
  }

  .post-content img {
    @apply mx-auto;
  }

  .post-content pre:has(> code) {
    @apply p-3;
    @apply mb-4;
  }
}
