@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 24px 36px 24px;
}

@layer components {
  .name-text {
    @apply text-green;
    display: block;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
  }
  .nav-button-container {
    @apply flex-col sm:flex-row;
    @apply mb-5 md:mb-8;
    @apply mt-6 md:mt-8;
    display: inline-flex;
    max-width: 768px;
    width: 100%;
    gap: 1.25rem;
  }
  .nav-button {
    @apply bg-pink;
    @apply text-green;
    @apply w-60 md:w-1/3;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    display: inline-flex;
    flex-direction: row;
    font-size: 28px;
    overflow: hidden;
    padding: 0.75rem 1.5rem;
    transition: width 0.2s;
  }
  .nav-button-icon {
    margin-right: 1rem;
  }
  .nav-button-text {
    font-weight: 600;
    margin-top: -4px;
  }
}
