@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p,
  .paragraph,
  .link {
    font-size: 32px;
  }
  p,
  .paragraph {
    @apply mb-6 md:mb-8;
    @apply text-black;
    font-weight: 450;
    max-width: 768px;
  }
  .link {
    @apply text-red;
    text-decoration: underline;
  }
}
