---
import { getCollection } from "astro:content";
import type { AnyEntryMap } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";

export async function getStaticPaths() {
  const getEntries = async (collection: keyof AnyEntryMap) => {
    const blogEntries = await getCollection(collection);
    return blogEntries.map((entry) => ({
      params: { slug: collection + "/" + entry.slug },
      props: { entry },
    }));
  };

  const blogEntries = await getEntries("blog");
  const draftEntries = await getEntries("draft");

  return [...blogEntries, ...draftEntries];
}

const { entry }: any = Astro.props;
const { Content } = await entry.render();
const postData = entry.data;
---

<script>
  window.onscroll = () => {
    var winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    var height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;

    const element = document.getElementById("progress-bar");
    if (element) element.style.width = scrolled + "%";
  };
</script>

<html lang="en">
  <head>
    <BaseHead title={postData.title} />
  </head>
  <body class="px-4">
    <div class="fixed left-0 top-0 h-1 w-full">
      <div class="h-1 w-0 bg-orange" id="progress-bar"></div>
    </div>
    <div class="mx-auto max-w-[768px]">
      <Header />
      <h2 class="mb-6 md:mt-8">
        {postData.title}
      </h2>
      <p class="stext-left mb-6 w-full text-lg">
        Published: {postData.date}
      </p>
      <div class="post-content mb-8">
        <Content />
      </div>
    </div>
  </body>
</html>
