---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");
---

<BaseLayout title="Blog">
  {
    blogEntries.map((entry: any) => (
      <li>
        <a href={"/blog/" + entry.slug}>{entry.data.title}</a>
      </li>
    ))
  }
</BaseLayout>
