---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");
---

<BaseLayout title="Blog">
  <p class="mb-6">
    Sometimes I write about the stuff I like, if that's what you're looking for,
    then you'll find it here!
  </p>
  {
    blogEntries
      .filter(({ data }) => !data.draft)
      .map((entry: any) => (
        <li>
          <span class="font-bold text-black dark:text-white">
            {entry.data.date}:{" "}
          </span>
          <a href={"/blog/" + entry.slug}>{entry.data.title}</a>
        </li>
      ))
  }
</BaseLayout>
