---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";

const blogEntries = await getCollection("blog");
---

<BaseLayout title="Blog">
  <div class="flex flex-col gap-8">
    {
      blogEntries
        .sort(
          (a, b) =>
            new Date(b.data.pubDate).getTime() -
            new Date(a.data.pubDate).getTime(),
        )
        .map((entry) => (
          <div class="flex flex-col gap-2">
            <h5>
              <a href={"/blog/" + entry.slug}>{entry.data.title}</a>
            </h5>
            <span class="font-bold text-black">{entry.data.pubDate}</span>
          </div>
        ))
    }
  </div>
</BaseLayout>
