---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");
---

<BaseLayout title="Blog">
  <p class="mb-4">
    Sometimes I write about the stuff I like, if that's what you're looking for,
    then you'll find it here!
  </p>
  <p class="mb-6">
    You can also read this blog as an <a href="/feed.xml">RSS feed!</a>
  </p>
  {
    blogEntries.map((entry: any) => (
      <li>
        <span class="font-bold text-black">{entry.data.pubDate}: </span>
        <a href={"/blog/" + entry.slug}>{entry.data.title}</a>
      </li>
    ))
  }
</BaseLayout>
