---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";

import projects from "../data/projects.json";
---

<BaseLayout title="Projects">
  <div class="mb-8 flex flex-col gap-6">
    {
      projects.map(({ year, links }) => (
        <div class="text-lg">
          <h5 class="mb-4">{year}</h5>
          {links.map(
            ({ name, description, link, wip, hidden }) =>
              !hidden && (
                <div class="mt-4 flex flex-col gap-2">
                  <li>
                    <a href={link} rel="noopener noreferrer">
                      {name}
                    </a>
                    {wip && <span>(work in progress)</span>}
                  </li>
                  <p class="text-block ml-8" set:html={description} />
                </div>
              ),
          )}
        </div>
      ))
    }
  </div>
</BaseLayout>
