---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";

import projects from "../data/projects.json";
---

<BaseLayout title="Projects">
  <div class="mb-8 flex flex-col gap-6">
    {
      projects.map(({ year, links }) => (
        <div>
          <h5 class="mb-4">{year}</h5>
          {links.map(
            ({ name, description, link, wip, hidden }) =>
              !hidden && (
                <div class="mt-4">
                  <li>
                    <a href={link} rel="noopener noreferrer">
                      {wip ? `${name} (work in progress)` : name}
                    </a>
                  </li>
                  <p class="text-block ml-8" set:html={description} />
                </div>
              )
          )}
        </div>
      ))
    }
  </div>
</BaseLayout>
