---
const { title } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS"
  href="http://ethandenny.dev/feed.xml"
/>
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title} | Ethan Denny</title>
<script src="https://kit.fontawesome.com/65a573c85e.js" crossorigin="anonymous"
></script>
