---
const { data } = Astro.props as {
  data: {
    title: string;
    author: string;
    owned: boolean;
  };
};
---

<ul>
  <li>
    "{data.title}" by {data.author}
    {data.owned && <span title="Owned">{" ✅"}</span>}
  </li>
</ul>
