---
import navButtons from "../data/navButtons.json";
import "../styles/global.css";

const pathname = new URL(Astro.request.url).pathname;
const firstIndex = pathname.slice(1).indexOf("/");
const parentPath =
  firstIndex == -1 ? pathname : pathname.slice(0, firstIndex + 1);
---

<header class="flex flex-col gap-4">
  <h3 class="w-max">ETHAN DENNY</h3>
  <nav class="flex w-min flex-col flex-wrap items-baseline gap-4">
    {
      navButtons.map(({ label, link }) => (
        <div class="flex w-max gap-3">
          <a class="text-2xl font-bold" href={link}>
            {label}
          </a>
          {parentPath === link && parentPath !== "/" ? (
            <p class="flex min-h-full items-center text-lg font-medium">
              &larr; You are here!
            </p>
          ) : (
            <span />
          )}
        </div>
      ))
    }
  </nav>
</header>
