---
import NavButton from "../components/NavButton.astro";

import "../styles/global.css";

const navButtons = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "Blog",
    link: "/blog",
  },
  {
    label: "Projects",
    link: "/projects",
  },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = "/" + pathname.slice(1);
---

<div class="mb-6 mt-5 md:mt-8">
  <nav
    class="mb-5 flex w-min flex-wrap items-baseline gap-2 md:flex-nowrap md:gap-6"
  >
    <a class="mb-2 no-underline" href="/"><h3 class="w-max">ETHAN DENNY</h3></a>
    {
      navButtons.map(({ label, link }) => (
        <NavButton active={currentPath === link} link={link}>
          {label}
        </NavButton>
      ))
    }
  </nav>
  <hr />
</div>
