---
import NavButton from "../components/NavButton.astro";

import "../styles/global.css";

const navButtons = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "Blog",
    link: "/blog",
  },
  {
    label: "Projects",
    link: "/projects",
  },
  {
    label: "Contact",
    link: "/contact",
  },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = "/" + pathname.slice(1);
---

<nav class="my-8 flex w-min flex-row items-baseline gap-6">
  <a class="no-underline" href="/"
    ><h3 class="w-max text-blue">Ethan Denny</h3></a
  >
  {
    navButtons.map(({ label, link }) => (
      <NavButton active={currentPath === link} link={link}>
        {label}
      </NavButton>
    ))
  }
</nav>
