---
const { active, link } = Astro.props;
---

<a class="no-underline" href={link}>
  <span
    class={`nav-link text-xl md:text-2xl font-bold ${active ? "active" : ""}`}
  >
    <slot />
  </span>
</a>
