---
import BaseHead from "../../components/BaseHead.astro";
import books from "../../data/books.json";
import Book from "../../components/Book.astro";
import "../../styles/global.css";
---

<BaseHead title="Digital Garden" />

<body>
  <h1>Books 📚</h1>

  <h2>Have Read</h2>
  {books.read.map((book) => <Book data={book} />)}

  <h2>Want to Read</h2>
  {books.unread.map((book) => <Book data={book} />)}
</body>
