---
import BaseHead from "../../components/BaseHead.astro";
import "../../styles/global.css";
---

<BaseHead title="Digital Garden" />

<body>
  <h1>My Digital Garden 🌱</h1>
  <ul>
    <li><a href="/garden/books">Books</a></li>
    <li><a href="/garden/movies-and-tv">Movies & TV</a></li>
    <li><a href="/garden/music">Music</a></li>
    <li><a href="/garden/podcasts">Podcasts</a></li>
    <li><a href="/garden/links">Links</a></li>
  </ul>
</body>
