---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="px-4">
    <div class="mx-auto max-w-[768px]">
      <Header />
      <slot />
    </div>
  </body>
</html>
