---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Divider from "../components/Divider.astro";

import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="theme-default mx-auto my-8 max-w-[768px] gap-6 px-4">
    <script is:inline>
      const themes = ["default", "dark", "pink"];

      if (!themes.includes(localStorage.theme)) {
        localStorage.theme = "default";
      }

      document.body.classList.remove("theme-default");
      document.body.classList.add(`theme-${localStorage.theme}`);
    </script>
    <Header />
    <Divider />
    <slot />
    <Divider />
    <Footer />
  </body>
</html>
